<div class="container">
  <h1>New meal</h1>
  
  <%= render "form", meal: @meal, foods: @foods %>
  
  <ul>
    <li><%= link_to "All meals", meals_path %></li>
    <li><%= link_to "Dashboard", root_path %></li>
  </ul>
</div>