<h1>Foods</h1>

<ul>
  <% @foods.each do |food| %>
    <li>
      <%= link_to food.name, food %>
    </li>
  <% end %>
</ul>

<ul>
  <li><%= link_to "New food", new_food_path %></li>
  <li><%= link_to "Dashboard", root_path %></li>
</ul>