$shadow-0: 0 1px 3px hsla(0, 0%, 0%, 0.12), 0 1px 2px hsla(0, 0%, 0%, 0.24);
$shadow-1: 0 3px 6px hsla(0, 0%, 0%, 0.15), 0 2px 4px hsla(0, 0%, 0%, 0.12);
$shadow-2: 0 10px 20px hsla(0, 0%, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0%, 0.10);
$shadow-3: 0 15px 25px hsla(0, 0%, 0%, 0.15), 0 5px 10px hsla(0, 0%, 0%, 0.05);
$shadow-4: 0 20px 40px hsla(0, 0%, 0%, 0.2);

$color-red-0: hsl(0, 99%, 98%);
$color-red-1: hsl(0, 86%, 84%);
$color-red-2: hsl(0, 67%, 70%);
$color-red-3: hsl(0, 58%, 56%);
$color-red-4: hsl(0, 59%, 42%);
$color-red-5: hsl(0, 70%, 28%);
$color-red-6: hsl(0, 90%, 14%);
$color-blue-0: hsl(208, 99%, 98%);
$color-blue-1: hsl(208, 86%, 84%);
$color-blue-2: hsl(208, 67%, 70%);
$color-blue-3: hsl(208, 58%, 56%);
$color-blue-4: hsl(208, 59%, 42%);
$color-blue-5: hsl(208, 70%, 28%);
$color-blue-6: hsl(208, 90%, 14%);
$color-green-0: hsl(131, 99%, 98%);
$color-green-1: hsl(131, 86%, 84%);
$color-green-2: hsl(131, 67%, 70%);
$color-green-3: hsl(131, 58%, 56%);
$color-green-4: hsl(131, 59%, 42%);
$color-green-5: hsl(131, 70%, 28%);
$color-green-6: hsl(131, 90%, 14%);
$color-yellow-0: hsl(39, 99%, 98%);
$color-yellow-1: hsl(39, 86%, 84%);
$color-yellow-2: hsl(39, 67%, 70%);
$color-yellow-3: hsl(39, 58%, 56%);
$color-yellow-4: hsl(39, 59%, 42%);
$color-yellow-5: hsl(39, 70%, 28%);
$color-yellow-6: hsl(39, 90%, 14%);
$color-grey-0: hsl(208, 22%, 98%);
$color-grey-1: hsl(208, 16%, 84%);
$color-grey-2: hsl(208, 12%, 70%);
$color-grey-3: hsl(208, 10%, 56%);
$color-grey-4: hsl(208, 10%, 42%);
$color-grey-5: hsl(208, 12%, 28%);
$color-grey-6: hsl(208, 16%, 14%);
          