@import "constants.scss";

body.dashboards {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Montserrat, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
  background-color: $color-grey-1;
  color: $color-blue-6;
  padding: 2rem;

  line-height: 1;

  // Start reset

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  // End reset

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
    max-width: 32rem;
  }

  .header {
    text-align: center;
  }

  .header h1 {
    font-size: 4.5rem;
    color: $color-blue-6;
    font-weight: 700;
    letter-spacing: 0.1em;
  }

  .block {
    background-color: $color-grey-0;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: $shadow-2;
  }

  .stat-block-with-title {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .stat-block-with-title h2 {
    font-size: 1rem;
    font-weight: 700;
    color: $color-blue-6;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .stat-block-multiple {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .stat-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .stat-block h3 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $color-blue-6;
  }

  .stat-block p {
    font-size: 3.75rem;
  }

  .link-block-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .link-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 0;
  }

  .link-block h3 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05em;

    text-transform: uppercase;
    color: $color-blue-6;
  }

  .link-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .link-buttons-row {
    display: flex;
    justify-content: space-evenly;
    gap: 0.75rem;
  }

  .link-buttons a {
    background-color: $color-blue-6;
    color: $color-blue-0;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    font-weight: 700;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1rem;
    flex: 1 1 0;
    box-shadow: $shadow-0;
    transition-duration: 0.1s;
  }

  .link-buttons a:hover {
    box-shadow: none;
    transform: translate(0px, 1px)
  }
}