@import "constants.scss";

body.dashboards {
  .block {
    padding: 1.5rem;
  }

  .stat-block-with-title {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
  }

  .block-title {
    font-size: 1rem;
    font-weight: 700;
    color: $color-blue-6;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    flex-shrink: 0;
    transition: all ease 0.2s;
  }

  .block-title-link {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    text-decoration: none;

    .icons {
      color: $color-blue-6;
      position: relative;
      
      i {
        position: absolute;
        transition: all ease 0.2s;
      }

      .icon-default {
        opacity: 1;
      }
      
      .icon-hover {
        opacity: 0;
        left: -6px;
      }
    }

    &:hover {
      color: $color-grey-3;
      .block-title {
        color: inherit;
      }

      .icons {
        color: inherit;

        i {
          transform: translate(6px, 0px);
        }

        .icon-default {
          opacity: 0;
        }
        
        .icon-hover {
          opacity: 1;
        }
      }
    }
  }

  .stat-block-with-title .food-name {
    font-size: 1rem;
    font-weight: 700;
    color: $color-grey-3;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: right;
  }

  .stat-block-multiple {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .stat-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .stat-block h3 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $color-blue-6;
  }

  .stat-block p {
    font-size: 3.75rem;
  }

  .link-block-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .link-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 0;
  }

  .link-block h3 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1em;

    text-transform: uppercase;
    color: $color-blue-6;
  }

  .link-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .link-buttons a {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    background-color: $color-blue-6;
    color: $color-blue-0;
    padding: 0.75rem 0.75rem;
    border-radius: 0.5rem;
    flex: 1 1 0;
    box-shadow: $shadow-0;
    transition-duration: 0.2s;

    font-size: 0.75rem;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    flex: 0 0 0;
  }


  .link-buttons a:hover {
    box-shadow: none;
    transform: translate(0px, 1px);
    background-color: $color-blue-5;
  }

  .user-session-status {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  p.current-user {
    text-align: center;
  }

  a.sign-in-out {
    color: $color-blue-6;
    
    text-align: center;
    text-decoration: none;
    font-weight: 700;

    transition: all ease 0.2s;

    align-self: center;

    &:hover {
    color: $color-blue-5;
    }
  }
}
