@import "constants.scss";

body.foods {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $color-grey-1;
  color: $color-blue-6;

  padding: 2rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
    max-width: 32rem;
  }

  .header-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    h1 {
      font-size: 4.5rem;
      color: $color-blue-6;
      font-weight: 700;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      transition: all ease 0.2s;
    }

    &:hover {
      h1 {
        color: $color-blue-5;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    background-color: $color-grey-0;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: $shadow-2;

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .row {
      display: flex;
      gap: 1.5rem;
    }

    .input-pair {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      flex: auto;
      min-width: 0;
    }

    .field_with_errors {
      display: flex;
      flex-direction: column;
    }

    input, textarea {
      padding: 0.75rem;

      background-color: $color-grey-0;
      border: 1px solid $color-grey-1;
      border-radius: 0.5rem;

      font-size: 1rem;
      color: $color-blue-6;
      font-family: inherit;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    input[type="submit"] {
      -webkit-appearance: none;
      align-self: flex-end;
      background-color: $color-blue-6;
      color: $color-blue-0;
      padding: 0.75rem 1.5rem;
      border: none;
      font-weight: 700;
      transition: all ease 0.2s;
      box-shadow: $shadow-0;

      &:hover {
        box-shadow: none;
        transform: translate(0px, 1px);
        background-color: $color-blue-5;
      }
    }
  }

  .block {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    background-color: $color-grey-0;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: $shadow-2;

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    li {
      display: flex;
      align-items: baseline;
      gap: 0.5rem;
      transition: all ease 0.2s;

      a {
        text-decoration: none;
        color: $color-blue-6;
        font-size: 1rem;
      }

      .icons {
        position: relative;
        
        i {
          transition: all ease 0.2s;
        }
  
        .icon-default {
          opacity: 1;
          color: $color-grey-3;
        }
        
        .icon-hover {
          opacity: 0;
          left: -6px;
          position: absolute;
        }
      }
  
      &:hover {
        transform: translate(6px, 0px);
  
        .icons {
          color: inherit;
  
          .icon-default {
            opacity: 0;
          }
          
          .icon-hover {
            opacity: 1;
          }
        }
      }
    }
  }
}