@import "constants.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.notice, .alert {
  margin-top: 1rem;
}

body {
  font-family: Montserrat, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue; 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  background-color: $color-grey-1;
  color: $color-blue-6;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 32rem;
}

.website-title {
  align-self: center;

  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;

  color: $color-blue-6;

  transition: all ease 0.2s;

  &:hover {
    h1 {
      color: $color-blue-5;
    }
  }
}

.block {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;

  background-color: $color-grey-0;

  border-radius: 1rem;
  box-shadow: $shadow-2;
  
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .row {
    display: flex;
    gap: 1.5rem;
  }

  .input-pair {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    flex: auto;
    min-width: 0;
  }

  .checkbox-pair {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  input, textarea, select {
    padding: 0.75rem;

    background-color: $color-grey-0;
    color: $color-blue-6;

    font-size: 1rem;
    font-family: inherit;
    
    border: 1px solid $color-grey-1;
    border-radius: 0.5rem;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button,
  select {
    appearance: none;
  }

  .select-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    
    select {
      width: 100%;
      padding-right: 2rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    i {
      position: absolute;
      right: 1rem;
      transition: all ease 0.2s;
      pointer-events: none;
    }

    &:hover i {
      transform: scale(1.25);
    }
  }

  input[type="submit"] {
    align-self: flex-end;
    padding: 0.75rem 1.5rem;
    background-color: $color-blue-6;
    color: $color-blue-0;
    font-weight: 700;
    appearance: none;
    border: none;
    box-shadow: $shadow-0;
    transition: all ease 0.2s;

    &:hover {
      background-color: $color-blue-5;
      box-shadow: none;
      transform: translate(0px, 1px);
    }
  }
}


ul.list-with-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  li {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    transition: all ease 0.2s;

    a {
      text-decoration: none;
      color: $color-blue-6;
    }

    .icons {
      position: relative;
      
      i {
        transition: all ease 0.2s;
      }

      .icon-default {
        opacity: 1;
        color: $color-grey-3;
      }
      
      .icon-hover {
        opacity: 0;
        position: absolute;
        left: -6px;
      }
    }

    &:hover {
      transform: translate(6px, 0px);

      .icons {
        .icon-default {
          opacity: 0;
        }
        
        .icon-hover {
          opacity: 1;
        }
      }
    }
  }
}