@import "constants.scss";

body.meals {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $color-grey-1;
  color: $color-blue-6;

  padding: 2rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
    max-width: 32rem;
  }

  .header-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    h1 {
      font-size: 4.5rem;
      color: $color-blue-6;
      font-weight: 700;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      transition: all ease 0.2s;
    }

    &:hover {
      h1 {
        color: $color-blue-5;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    background-color: $color-grey-0;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: $shadow-2;

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .row {
      display: flex;
      gap: 1.5rem;
    }

    .input-pair {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      flex: auto;
      min-width: 0;
    }

    input, textarea, select {
      padding: 0.75rem;

      background-color: $color-grey-0;
      border: 1px solid $color-grey-1;
      border-radius: 0.5rem;

      font-size: 1rem;
      color: $color-blue-6;
      font-family: inherit;
    }

    select {
      width: 100%;
      padding-right: 2rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .select-wrapper {
      display: flex;
      align-items: center;
      position: relative;
    }

    .select-wrapper i {
      position: absolute;
      right: 1rem;
      transition: all ease 0.2s;
      pointer-events: none;
    }

    .select-wrapper:hover i {
      transform: scale(1.25);
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button,
    select {
      appearance: none;
    }

    input[type="submit"] {
      -webkit-appearance: none;
      align-self: flex-end;
      background-color: $color-blue-6;
      color: $color-blue-0;
      padding: 0.75rem 1.5rem;
      border: none;
      font-weight: 700;
      transition: all ease 0.2s;
      box-shadow: $shadow-0;

      &:hover {
        box-shadow: none;
        transform: translate(0px, 1px);
        background-color: $color-blue-5;
      }
    }
  }

  .block {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    background-color: $color-grey-0;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: $shadow-2;
    
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      align-self: center;
      width: 100%;
      max-width: 24rem;

      font-size: 2rem;

      i {
        color: $color-blue-6;
        text-decoration: none;
        transition-duration: 0.2s;
        -webkit-text-stroke: 1px $color-grey-0;

        &:hover {
          color: $color-grey-4;
          transform: scale(1.1);
        }
      }
      
      .date-selects {
        display: flex;

        select {
          margin: 0px;
          appearance: none;
          font-family: inherit;

          font-size: 1rem;
          font-weight: 700;
          padding: 0.25rem 0.5rem;

          color: $color-blue-6;
          background-color: $color-grey-0;

          border-color: $color-blue-6;
          border-width: 1px 0px 1px 0px;
          border-radius: 0rem;
          
          &:first-child {
            border-radius: 0.5rem 0 0 0.5rem;
            border-width: 1px;
          }

          &:last-child {
            border-radius: 0 0.5rem 0.5rem 0;
            border-width: 1px;
          }
        }
      }
    }

    .day-data {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      padding: 1.5rem;
      border-radius: 0.75rem;

      background-color: $color-blue-6;
      color: $color-grey-0;
      box-shadow: $shadow-1;
      
      h3, h4 {
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.1em;
      }

      h3 {
        font-size: 1.5rem;
      }

      .stat-blocks {
        display: flex;
        justify-content: space-around;

        .stat-block {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.25rem;

          p {
            font-size: 3rem;
          }
        }
      }
    }

    .day-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }


    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    li {
      display: flex;
      align-items: baseline;
      gap: 0.5rem;
      transition: all ease 0.2s;

      a {
        text-decoration: none;
        color: $color-blue-6;
        font-size: 1rem;
      }

      .icons {
        position: relative;
        
        i {
          transition: all ease 0.2s;
        }
  
        .icon-default {
          opacity: 1;
          color: $color-grey-3;
        }
        
        .icon-hover {
          opacity: 0;
          left: -6px;
          position:absolute;
        }
      }
  
      &:hover {
        transform: translate(6px, 0px);
  
        .icons {
          color: inherit;
  
          .icon-default {
            opacity: 0;
          }
          
          .icon-hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
